.SingleProduct{
    border: 8px solid black;
    
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}

.productImg{
    
    width: 40%;
}
.productInfo{
    align-items: flex-end;
    padding: 20px;
}
.cartInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-block: 5px;

}
.button{
    padding: 20px ;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: brown;
    border-radius: 50%;
font-size: 3rem;
}